<h1>profile for <%= @player.first_name%></h1>
<table>
<thead>
<tr>
<td>first name</td>
<td> last name</td>
</tr>
</thead>
<tbody>
<tr>
<td><%=  @player.first_name %></td>
<td><%=  @player.last_name %></td>
</tr>
</tbody>
</table>
<a href="/player">Home page</a>